html, body {
  margin: 0;
  padding: 0;
  background-image: url("bg2.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
canvas{
  display:block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-style: outset;
  border-width: 18px;
  border-color: #a5b8c2;
}

p{
  text-align: center;
font-style: italic;
color: #2f5b69;
font-size: 30px;
}

.a{
  display: block;
  position:absolute;
}

.button {
    display: inline-block;
    background-color: black;
    color: pink;
    padding: 20px 40px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 40px;
  }
  pre{
  font: 20px Ink Free, sans-serif;
  line-height: 1.5;
  color: #85001f;
  text-align: center;

}
